@import "~react-image-gallery/styles/css/image-gallery.css";

footer section {
    height: 40vh;
    width: 100%;
}

.brand-title {
    font-family: Ciutadella, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}