@import "~react-image-gallery/styles/css/image-gallery.css";

footer section {
    height: 40vh;
}

.brand-title {
    margin: 20px 20px;
    font-family: Ciutadella, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}