ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 0 20px;
}

.menu-wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    top: 80px;
    left: 0;
    right: 0;
    height: 180px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.items {
    color: white;
    font-size: 18px;
}

a, a:visited, a:link  {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #ccc;
}

a:active {
    color: black;
    text-decoration: line-through;
}

@media screen and (min-width: 900px) {
    
    ul {
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        padding: 0;
    }
    
    .menu-wrapper {
        position: relative; 
        background-color: transparent;
        width: 40%;
        top: 30px;
        right: 0;
        left: unset;
        height: 80px;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }

    .items {
        font-size: 18px;
    }

}

