.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo-img {
   height: 40px;
}

.logo-img img {
    height: 40px;
}

.display-enter {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.0);
}
.display-enter-active {
    opacity: 1;
    transition: opacity 300ms, transform 300ms, background-color 300ms;
    background-color: rgba(0, 0, 0, 0.9);
}
.display-exit {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.9);
}
.display-exit-active {
    opacity: 0;
    transition: opacity 300ms, transform 300ms, background-color 300ms;
    background-color: rgba(0, 0, 0, 0.0);
}

