footer {
    width: 100%;
    min-height: calc(100vh - 80px);
    height: auto;
    background-color: rgb(26,23,24);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 70px;
    position: relative;

}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-family: Ciutadella, sans-serif;
    text-transform: uppercase;
    width: 300px;
    margin-bottom: 10px;
    flex-grow: 1;
}

.footer-wrapper {
    width: 100%;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.subtitle {
    color: white;
    margin: 0;
}

.social {
    display: flex;
    justify-content: flex-start;
    flex-grow: 2;
}

.social .fab {
    font-size: 20px;
    color: #ccc;
    margin-right: 30px;
}

.image-gallery-image {
    height: 30vh;
}

footer .email {
    text-transform: lowercase;
}

.footer-wrapper p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 12px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media screen and (min-width: 768px){
    .footer-wrapper {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px;
        max-width: 800px;
        margin-top: 30px;
    }

    .social {
        flex-direction: column;
        font-family: ciutadella, cursive;
    }

    .social a {
        margin-bottom: 12px;
        font-style: italic;
    }

    .social .fab {
        margin-right: 10px;
        font-size: 16px;
        display: inline;
    }
}

@media screen and (min-width: 1024px){
    
    footer {
        max-height: calc(100vh - 80px);
        min-height: unset;
        padding: 0 40px 70px;
    }

    .footer-wrapper {
        max-width: 1200px;
    }

}

